body{
    background: #121212 !important;
}

.laptop-card img {
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .laptop-card .card-body {
    padding: 16px;
  }
  
  .laptop-card .btn {
    min-width: 100px;
  }
  

  .lap-btn{
    color: #121212;
    background: #daa520;
    font-size: 18px;
    font-weight: 700;
  }

  .lap-btn:hover{
    background: #121212;
    color: #daa520;
  }