@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap");

:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Rajdhani", sans-serif;
}

body {
  background: #121212 !important;
}

.laptop-card img {
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.laptop-card .card-body {
  padding: 16px;
}

.laptop-card .btn {
  min-width: 100px;
}

.lap-btn {
  color: #121212;
  background: #daa520;
  font-size: 18px;
  font-weight: 700;
}

.lap-btn:hover {
  background: #121212;
  color: #daa520;
}
.lap-text{
  font-size: 20px;
  font-family: var(--primary-font);
}

.lap-description{
  font-size: 16px;
  font-family: var(--secondary-font);
  font-weight: 800;
}

.view-btn{
  background: #121212;
  color: #daa520;
  font-weight: 600;
  font-family: var(--secondary-font);
}

.view-btn:hover{
  background: #daa520;
  color: #121212;
}

.add-to-cart-btn{
  background: #daa520;
  color: #121212;
  font-weight: 600;
  font-family: var(--secondary-font);
}

.add-to-cart-btn:hover{
  background: #121212;
  color: #daa520;
}

.price{
  font-size: 20px;
  font-family: var(--primary-font);
  font-weight: 700;
  color: #121212;
}